<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Spell_fire_felpyroblast.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 0}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Spell_fire_fireball02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 190}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Spell_frost_frostblast.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 128}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Spell_frost_icestorm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 0}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Spell_frost_windwalkon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 64}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_up1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 32}</string>
			<key>spriteSourceSize</key>
			<string>{17, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 95}, {17, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_up2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 32}</string>
			<key>spriteSourceSize</key>
			<string>{17, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 191}, {17, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_up3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 32}</string>
			<key>spriteSourceSize</key>
			<string>{17, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{81, 159}, {17, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_up4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 32}</string>
			<key>spriteSourceSize</key>
			<string>{17, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 95}, {17, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_up5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 32}</string>
			<key>spriteSourceSize</key>
			<string>{17, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 95}, {17, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_up6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 32}</string>
			<key>spriteSourceSize</key>
			<string>{17, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{81, 191}, {17, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_up7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 32}</string>
			<key>spriteSourceSize</key>
			<string>{17, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 159}, {17, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fireball_up8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 32}</string>
			<key>spriteSourceSize</key>
			<string>{17, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 95}, {17, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guy_front_walk1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 95}</string>
			<key>spriteSourceSize</key>
			<string>{54, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 0}, {54, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guy_front_walk2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 95}</string>
			<key>spriteSourceSize</key>
			<string>{54, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 127}, {54, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guy_front_walk3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 95}</string>
			<key>spriteSourceSize</key>
			<string>{54, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 95}, {54, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guy_front_walk4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 95}</string>
			<key>spriteSourceSize</key>
			<string>{54, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 64}, {54, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guy_front_walk5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 95}</string>
			<key>spriteSourceSize</key>
			<string>{54, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {54, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guy_front_walk6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 95}</string>
			<key>spriteSourceSize</key>
			<string>{54, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 0}, {54, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>guy_front_walk7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 95}</string>
			<key>spriteSourceSize</key>
			<string>{54, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 128}, {54, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_back1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 81}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_back2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 435}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_back3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 384}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_back4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 338}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_back5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 497}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_back6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 243}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_back7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 416}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_front1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 416}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_front2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 338}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_front3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 324}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_front4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 497}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_front5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 354}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_front6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 162}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_front7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 81}</string>
			<key>spriteSourceSize</key>
			<string>{54, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 0}, {54, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_left1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 335}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_left2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 81}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_left3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 192}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_left4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 257}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_left5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 0}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_left6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 176}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_left7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 95}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 222}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 254}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_right3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 335}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_right4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 0}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_right5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 303}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_right6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 273}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nazi_right7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 254}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>assets</string>
		<key>textureFileName</key>
		<string>assets.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>